.contacts {
    text-align: right;
}

.contact {
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px 8px;
    color: $color-grey;
    transition: .3s;

    &:hover {
        color: lighten($color-grey, 20%)
    }

    &:first-child {
        margin-right: 8px;
        padding-right: 18px;
        border-right: $border;
    }

    &__icon {
        margin-right: 7px;
        vertical-align: middle;
        font-size: 1.5rem;

        &--email {
            font-size: 1.2rem;
        }
    }
}

.facebook-icon {
    display: inline-block;
    margin: 7px 0;
    padding: 5px 8px 1px;
    border-radius: 3px;
    background-color: #1287bf;
    color: $color-white;
}

.logo {
    @media (max-width: 1080px) {
        margin-left: 15px;
    }
    
    @media (max-width: 1000px) {
        margin-left: 0;
        margin-bottom: 15px;
    }
}