// Fonts
$ff-main: 'helvetica-neue-regular';
$ff-main-bold: 'helvatica-neue-bold';
$ff-main-light: 'helvetica-neue-light';
$ff-steps: 'georgia-bold';

$color-red: #de2b24;
$color-yellow: #f8cd53;
$color-white: #fff;
$color-grey:#424242;

$border: 1px solid #e2e2e2;