include ../mixins/about-card.pug
include ../mixins/title.pug

section.about
    .container
        +title('About us','We are added our major Services')

    ul.about__list
        +about-card('icon-like','Facebook Marketing','Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever')
        +about-card('icon-book','landing pages Creation','Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever')
        +about-card('icon-message','Ads management','Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever')
