include ../mixins/approach-card.pug
include ../mixins/title.pug

section.approach
    .container
        +title('Our Approach','Check Our approches step by step ( how we do it )')

        ul.approach__list
            +approach-card('step-1.jpg','Step 1 : Heading Here','Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled.')
            +approach-card('step-2.jpg','Step 2 : Heading Here','Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled.')
            +approach-card('step-3.jpg','Step 3 : Heading Here','Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled.')
            +approach-card('step-4.jpg','Step 4 : Heading Here','Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled.')
            
            