include ../mixins/title.pug

section.form-section
    .container
        .title
            h2.title__header Get Your Free Facebook Analysis Now
            .title__text Enter your details below

        